/* SETTINGS */

body {
    font-family: 'Noto Sans', sans-serif;
    font-size: 16px;
    color: rgba(3,27,78,0.70);
}

section {
    padding: 80px 0;
}

/* TYPOGRAPHY */

h1,
h2,
h3,
h4 {
    color: rgb(3, 27, 78);
}

h1 {
    font-size: 58px;
    color: #fff;
    font-weight: 900;
}

h2 {
    font-size: 36px;
}

h3 {
    font-size: 28px;
}

/* UTILITIES */

.blue-text,
a.blue-link {
    color:#006aff;
}

a.blue-link,
a.blue-link i {
    text-decoration: underline;
}

/* HEADER */

/* Navbar */
.navbar,
.navbar a {
    color:#031c4e;
}

.navbar {
    height: 65px;
}

.navbar .container {
    position: relative;
}

.navbar-header a img {
    width: 160px;
    vertical-align: middle;
}

.navbar li a {
    line-height: 30px;
    padding-top: 15px;
    padding-bottom: 15px;
}

.navbar li a:hover {
    color: #006aff;
    background: none;
}

.navbar button {
    background: #fff;
    border: none;
    color: #3a8aff;
}

.btn-ocean {
    background: #fff;
    padding: 5px 10px;
    border: 1px #006aff solid;
}

.navbar li a.btn-ocean {
    color: #006aff;
    padding-top: 1px;
    padding-bottom: 1px;
    margin-top: 13px;
    margin-bottom: 13px;
}



/* HeroBox */


/* Customer */
.customer {
    background: rgb(0,30,153);
    background: linear-gradient(0deg, rgba(0,30,153,1) 0%, rgba(0,72,197,1) 100%); 
}

/* Call To Action */
.callto {
    background: rgb(0,30,153);
    background: linear-gradient(0deg, rgba(0,30,153,1) 0%, rgba(0,72,197,1) 100%); 
}

/* FIXED TOOLTIP */

.tooltip {
    position: relative;
    width: 300px;
    padding:10px;
    background: #fff;
    line-height: 1.45;
    border-radius: 5px;
    filter: drop-shadow(0 1px 2px rgba(0, 0, 0, 0.4));
}
  
  .tooltip::before {
    content:'';
    position:absolute;
    bottom: 10px;
    right:-4px;
    width:8px;
    height: 8px;
    background: #fff;
    transform: rotate(45deg);
}

/* TABLETS */
@media (min-width: 768px) {



}

/* LAPTOP */
@media (min-width: 992px) {

    h1 {
        font-size: 50px;
    }    

    .menu-left {
        margin-left:65px;
    }
}


/* Hamburger Specific */

@media screen and (min-width: 768px) and (max-width: 991px) {
    /* Mostra hamburger */
    .navbar-toggle {
        display: block;
        position: absolute;
        right: 0;
    }
    /* Nascondi contenitore menu */
    .navbar-collapse {
        display: none;
    }

    .navbar button .icon-bar {
        background: #3a8aff;
    }

}